footer{
    width: 100%;
    height: 64px;
    margin-bottom: 34px;
    background: var(--beige);
}
footer ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style-type: none;
    li{
        width: 20%;
        height: 100%;
        a{
            display: inline-block;
            width: 100%;
            height: 100%;
            padding-top: 11px;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.6rem;
            &:link{
                text-decoration: none;
                color: var(--font);
            }
            &:visited{
                color: var(--font);
            }
        }
    }
}
