main{
    width: 100%;
    height: calc(100% - 64px - 20px);
    h1{
        padding: 16px;
        text-align: center;
    }
}
div.reviewsContainer{
    width: 100%;
    height: 100%;
    padding: 0 8px;
    div.review{
        width: 100%;
        height: 100%;
        display: flex;
        margin-bottom: 24px;
        div.imgWrap{
            width: 120px;
            height: 120px;
            position: relative;
            overflow: hidden;
            background: rgba(187, 187, 187, 0.3);
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        div.textWrap{
            width: calc(100% - 120px);
            height: 100%;
            p{
                font-size: 1.2rem;
            }
        }
    }
}
.foot_comment p{
    font-weight: 500;
}